@page
@using MegaDeskWebApp.Models
@model MegaDeskWebApp.Pages.Quote.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.FirstName" class="control-label"></label>
                <input asp-for="DeskQuote.FirstName" class="form-control" />
                <span asp-validation-for="DeskQuote.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.LastName" class="control-label"></label>
                <input asp-for="DeskQuote.LastName" class="form-control" />
                <span asp-validation-for="DeskQuote.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Drawers" class="control-label"></label>
                <input asp-for="DeskQuote.Drawers" class="form-control" />
                <span asp-validation-for="DeskQuote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.SurfaceMaterial" class="control-label"></label>
                <select asp-for="DeskQuote.SurfaceMaterial" onchange="updateImage()">
                    @foreach (var material in DeskQuote.SurfaceMaterials)
                    {
                        <option value="@material.Name" title="@material.Url">@material.Name</option>
                    }
                </select>
                <span asp-validation-for="DeskQuote.SurfaceMaterial" class="text-danger"></span>
                <img id="SurfaceMaterialImage" src="@DeskQuote.SurfaceMaterials.First().Url" alt="@DeskQuote.SurfaceMaterials.First().Name" />
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.RushOrderDays" class="control-label"></label>
                @Html.DropDownListFor(m => m.DeskQuote.RushOrderDays, @Model.RushOrderDays, new { @class = "form-control" })
                <span asp-validation-for="DeskQuote.RushOrderDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 
<script type="text/javascript">
    updateImage = () => {
        var selectMaterial = document.getElementById("DeskQuote_SurfaceMaterial");
        var selectedOption = selectMaterial.options[selectMaterial.selectedIndex];
        console.log(selectedOption.title);
        document.getElementById("SurfaceMaterialImage").src = selectedOption.title;
    }
</script>