@page "{searchString?}"
@model MegaDeskWebApp.Pages.Quote.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn-2" asp-page="Create">Create New Quote!</a>
</p>

<form>
    <div class="search-wrapper">
        <div>
            Search by Customer:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        </div>
        <div>
            <input  type="submit" value="Search" />
            <a class="link" asp-page="./Index">Reset Search</a>
        </div>
    </div>

</form>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].FullName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushOrderDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].TotalPrice)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr class="item">
            <td title=@Html.DisplayFor(modelItem => item.QuoteDate)>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td title=@item.FullName class="fullname">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td title=@item.Width>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td title=@item.Depth>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td title=@item.Drawers>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td title=@item.SurfaceMaterial>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td title=@item.RushOrderDays>
                @Html.DisplayFor(modelItem => item.RushOrderDays)
            </td>
            <td title=@item.TotalPrice>
                $@Html.DisplayFor(modelItem => item.TotalPrice).00
            </td>
            <td class="actions-section">
                <a  asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                <a  asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                <a  asp-page="./Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
