@page "{searchString?}"
@model MegaDeskWebApp.Pages.Quote.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn-2" asp-page="Create">Create New Quote!</a>
</p>

<form>
    <p>
        <div>
            Search by Customer:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        </div>
        <div>
            <input type="submit" value="Search" />
            <a asp-page="./Index">Reset Search</a>
        </div>
    </p>

</form>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].FullName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushOrderDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr class="item">
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td class="fullname">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushOrderDays)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice).00
            </td>
            <td>
                <a class="btn-3" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn-3" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn-3" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
