@page
@model MegadeskRazorPages.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-lg-12 order-md-1">
    <p><a asp-page="Index">< Return to quotes listing</a></p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.DeskDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.DeskDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.DeskDrawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.DeskDrawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.DeskWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.DeskWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.RushDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.RushDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.DeskMaterialOptions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.DeskMaterialOptions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Date)
        </dd>
    </dl>
    <a class="btn btn-primary" asp-page="./Index">Return</a>
</div>

